'.project-folder atom-text-editor[mini]':
  'ctrl-r': 'project-folder:replace'
  'tab': 'project-folder:switch-action'
  'space': 'project-folder:confirm-and-continue'
  'ctrl-enter': 'project-folder:open-in-new-window'
  'ctrl-t': 'project-folder:set-to-top-of-projects'
